H6 {
	FONT-SIZE: 12px; COLOR: #3366ff; LINE-HEIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-SIZE: 10px; COLOR: #3366ff; LINE-HEIGHT: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
BODY {
	BACKGROUND-POSITION: 100% 100%; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #eff8ff
}
