@charset "utf-8";
/* CSS Document */
.page-header h2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:2.3em;
	color:#454E59;
}
.nav{
	margin-bottom:20px;
}
.navButton{
	cursor:pointer;
	font-family:"Franklin Gothic Book";
	font-size:18px;
	color:#585B66;
}
.btn-link,.btn-link:link,.btn-link:visited{
	text-decoration:none;
	color:#666666;
}
.btn-link:hover,.btn-link:active {
	text-decoration:none;
	color:#4FAF7A;
}